Insight/statemachine.json
{
  "Comment": "State machine for transcription and insights extraction",
  "StartAt": "StartTranscription",
  "States": {
    "StartTranscription": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:590184144410:function:StartTranscriptionLambda",
      "Next": "WaitForTranscription"
    },
    "WaitForTranscription": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckTranscriptionStatus"
    },
    "CheckTranscriptionStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:590184144410:function:CheckTranscriptionStatusLambda",
      "Next": "IsTranscriptionComplete"
    },
    "IsTranscriptionComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "COMPLETED",
          "Next": "ExtractInsights"
        }
      ],
      "Default": "WaitForTranscription"
    },
    "ExtractInsights": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:590184144410:function:ExtractInsightsLambda",
      "Next": "SaveResults"
    },
    "SaveResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:590184144410:function:SaveResultsLambda",
      "End": true
    }
  }
}
